<div class="col s12">
    Total Projects: {{projectCount}}
</div>


{{#each projects as |project|}}
    <div class="col l4 m6 s12">
        {{project-item project=project}}
    </div>
{{/each}}

{{yield}}
